.card{
    color: #1B2034;
    background-color: white;
    width: 8rem;
}

.card:hover {
    color: #0e8ed0;
    cursor: pointer;
}

.profileimage {
    width: 100%;
    border-color: black;
    vertical-align: baseline;
    max-width: 250px;
  }

  @media only screen 
  and (max-width: 800px) {
    .card{
        width: 10rem;
    }
  }

  @media only screen 
  and (max-width: 525px) {
    .card{
        width: 30rem;
    }
  }