@media only screen 
and (min-width: 2000px) {
    .parallax { 
background-image: url("../images/mainpage.jpg")!important;
background-size: cover;
background-attachment: scroll !important;
background-repeat: no-repeat;
        }
    .slide1 { 
background-image: url("../images/welcomebanner.png")!important;
background-size: cover;
background-attachment: scroll !important;
background-repeat: no-repeat;
        }
}
/*Changes image on mobile*/
@media only screen 
and (max-width: 1400px) {
    .parallax { 
background-image: url("../images/mainpage.jpg")!important;
background-size: cover;
background-attachment: scroll !important;
background-repeat: no-repeat;
        }
    .slide1 { 
background-image: url("../images/welcomebanner.png")!important;
background-size: cover;
background-attachment: scroll !important;
background-repeat: no-repeat;
        }
    
    #box1 {
        padding-top: .25rem !important;
    }

    #box2 {
        padding-top: .25rem !important;
    }

    #box3 {
        padding-top: .25rem !important;
    }

    #box4 {
        padding-top: .25rem !important;
    }
    
}

.parallax {
    background: url("../images/mainpage.jpg");

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.gradient {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0));

}

.btn-cohort {
    border-radius: 2800px !important;
    font-size: 20px;
    padding: 16px 32px;
    background-color: white;
    color: black;
}


.slide1{
    background: url("../images/welcomebanner.png");
    min-height: 500px;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



/*caption*/

.text-box {
    padding-top: 5%;
    text-align: left;
    font-size:90px;
    height: 250px;
    /*padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;*/
    font-weight: bold;
    color: #ffffff;
       
}

.adcaption{
    text-align: left;
    font-size:90px;
    font-weight: bold;
    color: #ffffff;
}

@media only screen 
and (max-width: 1024px) {
    .adcaption {
        font-size: 70px;
    }

}

.animated {
    font-size: 85px;
    font-weight: bold;
    
}
/*mission statement*/
#header1 {
    font-size: 300%;
    font-weight: bold;
}

#paragraph1 {
    text-align: center;
    font-size: 200%;
    font-weight: 200;
    color:black;
}
/*color row sections*/
.colorRow {
    text-align: center;
    
}

p{
    color:white;
}

h2 {
    font-size: 600%;
}

.col-lg-3 {
    padding:300px 0;
}

#newsright {
    background:transparent url('../images/1.png')no-repeat center center /cover;
}





#box1 {
    background:transparent url('../images/home_box1.jpg') no-repeat center center /cover;
}

#box1 p {
    margin-left: 10%;
    margin-right: 10%;
}

#box2 {
    background:transparent url('../images/home_box2new.jpg') no-repeat center center /cover;
}

#box2 p {
    margin-left: 10%;
    margin-right: 10%;
}

#box3 {
    background:transparent url('../images/home_box3.jpg') no-repeat center center /cover;
}

#box3 p {
    margin-left: 10%;
    margin-right: 10%;
}

#box4 {
    background:transparent url('../images/home_box4.jpg') no-repeat center center /cover;
}

#box4 p {
    margin-left: 10%;
    margin-right: 10%;
}

#row1{
    background:#1bb494;
    color:white; 
}

#benrightside {
    background:transparent url('../images/argnewsletternew.png')no-repeat center center /cover;
}

@media only screen 
  and (min-width: 992px) {
      #benefitscont {
          margin-left:10%;
      }
}
@media only screen 
and (max-width: 480px) {
    .sponsorimg {
        min-width: 50%;
        max-width: 60%;
    }
    .animated {
        font-size: 80%;
    }

    #mc_embed_signup{
        background:#fff; 
        clear:left; 
        font:14px Helvetica,Arial,sans-serif; 
        width:100%;
    }
    #mc_embed_signup label{
        font-weight: bold;
    }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
}