/*color row sections*/
.colorRow {
    text-align: center;
    height: 100%;
    color:white;
      
}


.col-lg-3 {
    padding:300px 0;
}

.footer-middle {
    display:block;
    background: #8e8e8c;
    display: text;
    justify-content: space-between;
    
}

.footer-social-icons {
    text-align:center;
}


/*Old box heights*/

#box1 h2 {
    padding-top: 15%;
    padding-bottom: 15%;
}
#box2 h2 {
    padding-top: 15%;
}

#box1 p {
    padding-bottom: 25%;
}
#box2 p {
    padding-bottom: 25%;
}

/*end hox height*/



/*Info that allows buttons to display new info*/

#box1 {
    background: rgb(176, 109, 32);
    
    
    
}

#box1:hover {
    background:transparent url('../images/home_box2.jpg') no-repeat center center /cover;
    
    
}

#box1 p {
    display:none;
    margin-left: 10%;
    margin-right: 10%;
}

#box1:hover{
    display:block;
}



#box2 {
    background:transparent url('../images/home_box3.jpg') no-repeat center center /cover;
}

#box2 p {
    margin-left: 10%;
    margin-right: 10%;
}

/*New box items*/


#left {
    text-align:center;
    color:white;
    background: #0a5195;
    height: 100vh;

}

.leftparagraph {
    font-size: 20%;
}

#newleft {
    text-align:center;
    
    height: 100vh;
    
    
}

#leftcaption {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 3rem;
    text-align:center;
}

#left:hover {
    
    background:transparent url('../images/involveleftgrad.jpg') no-repeat center center /cover;
    
}




#right {
    text-align:center;
    color:white;
    background: #b4337b;
    height: 100vh;
}

#newright {
    text-align:center;
    
    height: 100vh;
}

#rightcaption {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 2.3rem;
}

#right:hover {
    background:transparent url('../images/involverightgrad.jpg') no-repeat center center /cover;
}

.leftcard {
    width: 100%;
    height: 100%;
    
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

#leftcontainer {
    width: 100%;
    height: 90%;
    font-size: 120%;
    overflow: auto;
}

#rightcontainer {
    width: 100%;
    height: 87%;
    font-size: 90%;
    overflow: auto;
}

.leftcard div {
    display: absolute;
    
    width: 100%;
    
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.leftcard .leftfront {
    height: 100vh;
    background:transparent url('../images/involveleftgrad.jpg') no-repeat center center /cover;
}

.leftcard .back {
    height: 100vh;
    background: #0a5195;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.leftcard.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.rightcard {
    width: 100%;
    height: 100%;
    
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

.rightcard div {
    display: absolute;
    
    width: 100%;
    
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.rightcard .rightfront {
    height: 100vh;
    background:transparent url('../images/involverightgrad.jpg') no-repeat center center /cover;
}

.rightcard .rightback {
    height: 100vh;
    background: #b4337b;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.rightcard.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

@media only screen 
and (min-width: 980px) {
    #newleft {
        padding-right: 0px;
    }
    #newright {
        padding-left: 0px;
    }
    
}

@media only screen 
and (max-width: 980px) {
    #leftcontainer {
        font-size: 90%;
    }
    .lefttitle {
        font-size: 25%;
    }
    .leftsubtitle {
        font-size: 20%;
    }
            
    
}

#closebtn {
    font-size: 2rem;
    font-weight: 400;
    text-shadow: none;
    color:white;
    opacity: 1;
    cursor: pointer;
  position: absolute;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  margin-top: 1%;

  top: 2%;
  right: 2%;
  transform: translate(0%, -50%);
}

#closebtn:hover {background: #bbb;}

@media only screen 
and (max-width: 480px) {
    #leftcaption {
        font-size: 30%;
    }
    .leftparagraph {
        font-size: 17%;
    }
    .rightparagraph {
        font-size: 17%;
    }
            
    
}









/*Card flip start*/
/*
.card-container {
    display: grid;
    perspective: 700px;
}

.card-flip, .card-container {
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.back {
    transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}

.card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.front {
    grid-area: frontAndBack;
    background:transparent url('../images/involveleftgrad.jpg') no-repeat center center /cover;
    color:white;
}

.back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
    background: #0a5195;
    color: white;
}
*/
/*Card flip end*/









