/*color row sections*/
.colorRow {
    text-align: center;
    height: 100%;
    color:white;
      
}


.col-lg-3 {
    padding:300px 0;
}

.footer-middle {
    background: #8e8e8c;
    display: text;
    justify-content: space-between;
    
}

.footer-social-icons {
    text-align:center;
}


/*Old box heights*/

#box1 h2 {
    padding-top: 15%;
    padding-bottom: 15%;
}
#box2 h2 {
    padding-top: 15%;
}

#box1 p {
    padding-bottom: 25%;
}
#box2 p {
    padding-bottom: 25%;
}

/*end hox height*/



/*Info that allows buttons to display new info*/

#box1 {
    background: rgb(176, 109, 32);
    
    
    
}

#box1:hover {
    background:transparent url('../images/home_box2.jpg') no-repeat center center /cover;
    
    
}

#box1 p {
    display:none;
    margin-left: 10%;
    margin-right: 10%;
}

#box1:hover{
    display:block;
}



#box2 {
    background:transparent url('../images/home_box3.jpg') no-repeat center center /cover;
}

#box2 p {
    margin-left: 10%;
    margin-right: 10%;
}

/*New box items*/


#left {
    text-align:center;
    color:white;
    background: #0a5195;
    height: 100vh;

}

#leftcaption {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 2.3rem;
}

#left:hover {
    
    background:transparent url('../images/involveleftgrad.jpg') no-repeat center center /cover;
    
}



#right {
    text-align:center;
    color:white;
    background: #b4337b;
    height: 100vh;
}

#rightcaption {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 2.3rem;
}

#right:hover {
    background:transparent url('../images/involverightgrad.jpg') no-repeat center center /cover;
}






