* {
  font-family: 'Barlow', sans-serif;
  
}

a {
  font-size: 21px;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 21px;
}

header {
  background-color: #1B2034;
}

.logo {
  float:center;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 300px;
  
}

/*End of primary styling for all sheets*/

/* Parallax Top Portion */

.parallax {
    background: url("../images/IMG_3011.jpg");

    height: 600px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


/*caption*/

.text-box {
    
    height: 600px;
    padding: 50px;
    color: #ffffff;
       
}

.animated {
    font-size: 90px;
    font-weight: bold;
    
}
/*mission statement*/
#header1 {
    font-size: 300%;
    font-weight: bold;
}

#paragraph1 {
    text-align: center;
    font-size: 200%;
    font-weight: lighter;
    color:black;
}
/*color row sections*/
.colorRow {
    text-align: center;
    
      
}

p{
    color:white;
}

h2 {
    font-size: 600%;
}

.col-lg-3 {
    padding:300px 0;
}

.menu {
    list-style: none;
}
.menu li{
    display: inline;
}

.footer-middle {
    background: #1B2034;
    padding: 3rem;
    display: text;
    justify-content: space-between;
    
}

.footer-social-icons {
    text-align:center;
}

#box1 {
    background:transparent url('../images/home_box1.png') no-repeat center center /cover;
}

#box2 {
    background:transparent url('../images/home_box2.png') no-repeat center center /cover;
}

#box3 {
    background:transparent url('../images/home_box3.png') no-repeat center center /cover;
}

#box4 {
    background:transparent url('../images/home_box4.png') no-repeat center center /cover;
}







