* {
  font-family: 'Barlow', sans-serif;
  
}

a {
  font-size: 21px;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 21px;
}

header {
  background-color: #1B2034;
}

.logo {
  float:center;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 300px;
  
}

@media only screen 
and (max-width: 400px) {
    .navbar-toggler {
        width: 100%;
        float: none;
        margin: 0 auto;
        border-width:0;
        border-radius:0;
        margin-left: 10%;
        margin-right:10%;
    }

}

/*For footer*/

.footer-middle {
    background: #8e8e8c;
    padding-top: 3rem;
    display: text;
    justify-content: space-between;
    color:white;
    
}

.menu {
    list-style: none;
}
.menu li{
    display: inline;
}

/*End footer*/

/*End of primary styling for all sheets*/

/* Parallax Top Portion */

/*Changes image on mobile*/
@media only screen 
and (max-width: 400px) {
    .parallax { 
background-image: url("../images/IMG_3011.jpg")!important;
background-size: cover;
background-attachment: scroll !important;
background-repeat: no-repeat;
        }
    
    #box1 {
        padding-top: .25rem !important;
    }

    #box2 {
        padding-top: .25rem !important;
    }

    #box3 {
        padding-top: .25rem !important;
    }

    #box4 {
        padding-top: .25rem !important;
    }
    
}

.parallax {
    background: url("../images/IMG_3011.jpg");

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


/*caption*/

.text-box {
    padding-top: 5%;
    text-align: left;
    font-size:90px;
    height: 600px;
    /*padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;*/
    font-weight: bold;
    color: #ffffff;
       
}

.animated {
    font-size: 85px;
    font-weight: bold;
    
}
/*mission statement*/
#header1 {
    font-size: 300%;
    font-weight: bold;
}

#paragraph1 {
    text-align: center;
    font-size: 200%;
    font-weight: 200;
    color:black;
}
/*color row sections*/
.colorRow {
    text-align: center;
    
      
}

p{
    color:white;
}

h2 {
    font-size: 600%;
}

.col-lg-3 {
    padding:300px 0;
}





#box1 {
    background:transparent url('../images/home_box1.jpg') no-repeat center center /cover;
}

#box1 p {
    margin-left: 10%;
    margin-right: 10%;
}

#box2 {
    background:transparent url('../images/home_box2.jpg') no-repeat center center /cover;
}

#box2 p {
    margin-left: 10%;
    margin-right: 10%;
}

#box3 {
    background:transparent url('../images/home_box3.jpg') no-repeat center center /cover;
}

#box3 p {
    margin-left: 10%;
    margin-right: 10%;
}

#box4 {
    background:transparent url('../images/home_box4.jpg') no-repeat center center /cover;
}

#box4 p {
    margin-left: 10%;
    margin-right: 10%;
}





