div {
    font-size: 21px;
}

.list-unstyled {
    font-size: 120%;
}

#box1 {
    background: blue;
    border-radius: 20px;
    padding: 2rem;
}

li {
    font-size: 100%;
}

#row1{
    background:#fe9826;
    color:white; 
}

#row2 {
    background:#1B2034;
    color:white;
}



#rightside {
    background-color: rgba(5,179,146,0.8);
    color: white;
    font-weight: 100;
    
}

#leftside {
    background-color: rgba(183, 47,123,0.8);
    color: white;
    font-weight: lighter;
}

.morerounded {
    border-radius: .65rem !important;
}

#benrightside {
    background:transparent url('../images/1.png')no-repeat center center /cover;
}

#benrightside::before{
    background:orange;
}

.background {

    background: #1B2034;



    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h3 {
    font-size: 1.75rem;
    color: #373d51;
    padding: 1.3rem;
    margin: 0;
  }
  
  .accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .accordion a:hover,
  .accordion a:hover::after {
    cursor: pointer;
    color: #03b5d2;
  }
  
  .accordion a:hover::after {
    border: 1px solid #03b5d2;
  }
  
  .accordion a.active {
    color: #03b5d2;
    border-bottom: 1px solid #03b5d2;
  }
  
  .accordion a::after {
    font-family: 'Ionicons';
    content: '\002B';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #7288a2;
    padding: 5px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #7288a2;
    text-align: center;
  }
  
  .accordion a.active::after {
    font-family: 'Ionicons';
    content: '\2212';
    color: #03b5d2;
    border: 1px solid #03b5d2;
  }
  
  .accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
  }
  
  .accordion .content p {
    font-size: 1rem;
    font-weight: 300;
  }
  
  .accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
  }


@media only screen 
  and (min-width: 992px) {
      #benefitscont {
          margin-left:10%;
      }

@media only screen 
    and (max-width: 1855px) {
        .rightparagraph {
            padding-bottom: 5rem;
        }


