div {
    font-size: 21px;
}

.list-unstyled {
    font-size: 120%;
}

#box1 {
    background: blue;
    border-radius: 20px;
    padding: 2rem;
}

li {
    font-size: 100%;
}

#row1{
    background:#fe9826;
    color:white; 
}

#row2 {
    background:#1B2034;
    color:white;
}



#rightside {
    background-color: rgba(5,179,146,0.8);
    color: white;
    font-weight: 100;
    
}

#leftside {
    background-color: rgba(183, 47,123,0.8);
    color: white;
    font-weight: lighter;
}

.morerounded {
    border-radius: .65rem !important;
}

#benrightside {
    background:transparent url('../images/1.png')no-repeat center center /cover;
}

#benrightside::before{
    background:orange;
}

.background {

    background: #1B2034;



    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen 
  and (min-width: 992px) {
      #benefitscont {
          margin-left:10%;
      }




