#banner {
  background:transparent url('../images/1.png')no-repeat center center /cover;
}

#toprow {
  background:transparent url('../images/mtr3.JPG')no-repeat center center /cover;
  background-position: 0 10;


}

#boardheader {
  background-color: #00b594;
  color: white;

}

#boardrow {
  background-color: #00b594;
  color: white;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 2%;
  text-align: center;
}

.container {
  background-color: #00b594;
  
}


.col-centered {

  margin: 0 auto;
}



#board2row {
  background-color: #00b594;
  color: white;
  padding-top: 2%;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}


.profileimage {
  width: 100%;
  border-radius: 50%;
  border-color: black;
  vertical-align: baseline;
  max-width: 250px;
}

#paragraph1{
  text-align: center;
  font-size: 175%;
  font-weight: lighter;
}
p {
    font-size: 30px;
}
#storyh{
    font-size:250%;
}

@media only screen 
and (max-width: 480px) {
    #boardheader {
      font-size:70%;
    }
            
    
}
