* {
    font-family: 'Barlow', sans-serif;
}


body {
    overflow-x: hidden;
    
}

header {
    background-color: #1B2034;
}

.navbar-nav {
    font-family: barlow,sans-serif;
    
}

.logo {
    float:center;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 300px;
    
}

#banner {
  background:transparent url('../images/1.png')no-repeat center center /cover;
}

#toprow {
  background:transparent url('../images/mtr3.jpeg')no-repeat center center /cover;
  background-position: 0 0;


}

#boardheader {
  background-color: #00b594;
  color: white;

}

#boardrow {
  background-color: #00b594;
  color: white;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 2%;
  text-align: center;
}

.container {
  background-color: #00b594;
  
}


.col-centered {

  margin: 0 auto;
}



#board2row {
  background-color: #00b594;
  color: white;
  padding-top: 2%;
  text-align: center;
}



.profileimage {
  width: 100%;
  border-radius: 50%;
  border-color: black;
  vertical-align: baseline;
  max-width: 250px;
}

#paragraph1{
  text-align: center;
  font-size: 175%;
  font-weight: lighter;
}
p {
    font-size: 30px;
}
#storyh{
    font-size:250%;
}
