* {
    font-family: 'Barlow', sans-serif;
    
  }
  
  a {
    font-size: 21px;
  }
  
  body {
    overflow-x: hidden;
  }
  
  h1 {
    font-size: 21px;
  }
  
  header {
    background-color: #1B2034;
  }
  
  .logo {
    float:center;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 300px;
    
  }
  
  @media only screen 
  and (max-width: 500px) {
      .navbar-toggler {
          width: 100%;
          float: none;
          margin: 0 auto;
          border-width:0;
          border-radius:0;
          margin-left: 10%;
          margin-right:10%;
      }
  
  }

  @media only screen 
  and (max-width: 990px) {
      .navbar-btn {
          text-align:center;
          margin-top: 2%;
          margin-right: 75%;
          
      }
      li.nav-item.mr-none {
          margin-bottom: 4%;
      }
      
  
  }


  
  /*For footer*/
  
  .footer-middle {
      background: #8e8e8c;
      padding-top: 1rem;
      display: text;
      justify-content: space-between;
      color:white;
      
  }
  
  .menu {
      padding-top: 3%;
      list-style: none;
      padding-left: 0px;
  }
  .menu li{
      display: inline;
  }

  .footercopy {
    padding-top: 7%;
  }
  
  /*End footer*/
  
  /*End of primary styling for all sheets*/